<a href="https://colab.research.google.com/github/nursultahn/InterviewTasks/blob/main/train_target_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
train = pd.read_csv('/content/drive/MyDrive/FreedomTest/train.csv')
test = pd.read_csv('/content/drive/MyDrive/FreedomTest/test.csv')

In [4]:
train.head()

,Unnamed: 0,ID_NEW,с_date,Score_p,Score_bm,Score_ae,Score_vy,Score_vt,Score_r,Score_bcb,...,SCORE_6_8,SCORE_6_9,SCORE_7_4,SCORE_7_5,SCORE_7_6,SCORE_7_7,SCORE_7_8,SCORE_7_9,SCORE_9_25,SCORE_11_15
0,1651,1652,2021-04-13,16651,6.0,2,1993,4,7,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1748,1749,2021-04-08,16551,2.0,2,2017,4,10,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3808,3809,2021-04-13,16651,5.0,1,1993,4,7,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10092,10093,2021-04-09,2920,13.0,4,2014,4,19,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15603,15604,2020-07-30,1027,13.0,4,2014,10,12,0,...,10.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0

In [5]:
# Скопируем оригинальный DataFrame
train_data_target1 = train.copy()

# Удалим столбец target_2
train_data_target1 = train_data_target1.drop(columns='target_2')

# Подобно этому, вы можете создать набор данных только для target_2:
train_data_target2 = train.copy()
train_data_target2 = train_data_target2.drop(columns='target_1')

In [6]:
train_data_target2.head()

,Unnamed: 0,ID_NEW,с_date,Score_p,Score_bm,Score_ae,Score_vy,Score_vt,Score_r,Score_bcb,...,SCORE_6_8,SCORE_6_9,SCORE_7_4,SCORE_7_5,SCORE_7_6,SCORE_7_7,SCORE_7_8,SCORE_7_9,SCORE_9_25,SCORE_11_15
0,1651,1652,2021-04-13,16651,6.0,2,1993,4,7,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1748,1749,2021-04-08,16551,2.0,2,2017,4,10,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3808,3809,2021-04-13,16651,5.0,1,1993,4,7,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10092,10093,2021-04-09,2920,13.0,4,2014,4,19,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15603,15604,2020-07-30,1027,13.0,4,2014,10,12,0,...,10.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0

In [7]:
train_data_target2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647734 entries, 0 to 647733
Columns: 182 entries, Unnamed: 0 to SCORE_11_15
dtypes: float64(173), int64(8), object(1)
memory usage: 899.4+ MB

In [8]:
categorical_columns = train_data_target2.select_dtypes(include=['object']).columns
print(categorical_columns)

Index([' с_date'], dtype='object')

In [9]:
print(train_data_target2[' с_date'].head())

0    2021-04-13
1    2021-04-08
2    2021-04-13
3    2021-04-09
4    2020-07-30
Name:  с_date, dtype: object

In [10]:
train_data_target2['с_date'] = pd.to_datetime(train_data_target2[' с_date'])
train_data_target2['с_date_datetime'] = pd.to_datetime(train_data_target2[' с_date'])

In [11]:
train_data_target2['с_date_year'] = train_data_target2['с_date_datetime'].dt.year
train_data_target2['с_date_month'] = train_data_target2['с_date_datetime'].dt.month
train_data_target2['с_date_day'] = train_data_target2['с_date_datetime'].dt.day
train_data_target2['с_date_dayofweek'] = train_data_target2['с_date_datetime'].dt.dayofweek

In [12]:
train_data_target2.drop([' с_date'], axis=1, inplace=True)

In [13]:
train_data_target2.drop(['с_date_datetime'], axis=1, inplace=True)

In [14]:
train_data_target2.drop(['Unnamed: 0'], axis=1, inplace=True)
train_data_target2.drop(['ID_NEW'], axis=1, inplace=True)

In [15]:
train_data_target2.drop(['с_date'], axis=1, inplace=True)

In [16]:
train_data_target2.head()

,Score_p,Score_bm,Score_ae,Score_vy,Score_vt,Score_r,Score_bcb,Score_ow,Score_ow_sh,target_2,...,SCORE_7_6,SCORE_7_7,SCORE_7_8,SCORE_7_9,SCORE_9_25,SCORE_11_15,с_date_year,с_date_month,с_date_day,с_date_dayofweek
0,16651,6.0,2,1993,4,7,1,1.110100e+08,1110.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021,4,13,1
1,16551,2.0,2,2017,4,10,0,1.556391e+09,1556.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021,4,8,3
2,16651,5.0,1,1993,4,7,1,1.110100e+08,1110.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021,4,13,1
3,2920,13.0,4,2014,4,19,1,5.110111e+08,5110.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021,4,9,4
4,1027,13.0,4,2014,10,12,0,4.352301e+09,4352.0,0.0,...,NaN,NaN,NaN,NaN,2.0,0.0,2020,7,30,3

In [17]:
train_data_target2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647734 entries, 0 to 647733
Columns: 183 entries,  Score_p to с_date_dayofweek
dtypes: float64(173), int64(10)
memory usage: 904.4 MB

In [18]:
pd.set_option('display.max_rows', None)
train_data_target2.isnull().sum()

 Score_p                 0
 Score_bm               46
 Score_ae                0
 Score_vy                0
 Score_vt                0
 Score_r                 0
 Score_bcb               0
 Score_ow                4
 Score_ow_sh             4
target_2                 0
SCORE_1_1           235454
SCORE_1_2           235454
SCORE_1_3           235454
SCORE_1_4           235454
SCORE_1_5           235454
SCORE_1_6           235454
SCORE_1_7           235454
SCORE_1_8           235454
SCORE_1_9           235454
SCORE_1_10          235454
SCORE_2_1            88142
SCORE_2_2            88142
SCORE_2_3            88142
SCORE_3_1           108080
SCORE_3_2           108080
SCORE_3_3           108080
SCORE_3_4           108080
SCORE_3_5           108080
SCORE_3_6           108080
SCORE_3_7           108080
SCORE_3_8           108080
SCORE_3_9           108080
SCORE_3_10          108080
SCORE_4_1           134227
SCORE_4_2           134227
SCORE_4_3           134227
SCORE_4_4           134227
SCORE_4_5           134227
SCORE_4_6           134227
SCORE_4_7           134227
SCORE_4_8           134227
SCORE_4_9           134227
SCORE_4_10          134227
SCORE_4_11          134227
SCORE_4_12          134227
SCORE_4_13          134227
SCORE_4_14          134227
SCORE_4_15          134227
SCORE_4_16          134227
SCORE_4_17          134227
SCORE_4_18          134227
SCORE_4_19          134227
SCORE_4_20          134227
SCORE_4_21          134227
SCORE_4_22          134227
SCORE_4_23          134227
SCORE_4_24          134227
SCORE_4_25          134227
SCORE_4_26          134227
SCORE_4_27          134227
SCORE_4_28          134227
SCORE_4_29          134227
SCORE_4_30          134227
SCORE_5_1            66948
SCORE_5_2            66948
SCORE_5_3            66948
SCORE_5_4            66948
SCORE_5_5            66948
SCORE_5_6            66948
SCORE_5_7            66948
SCORE_5_8            66948
SCORE_5_9            66948
SCORE_5_10           66948
SCORE_5_11           66948
SCORE_5_12           66948
SCORE_6_1            57479
SCORE_6_2            57479
SCORE_6_3            57479
SCORE_7_1           410833
SCORE_7_2           410833
SCORE_7_3           410833
SCORE_8_1             8171
SCORE_8_2             8171
SCORE_8_3             8171
SCORE_9_1            12406
SCORE_9_2            12406
SCORE_9_3            12406
SCORE_9_4            12406
SCORE_9_5            12406
SCORE_9_6            12406
SCORE_9_7            12406
SCORE_9_8            12406
SCORE_9_9            12406
SCORE_9_10           12406
SCORE_9_11           12406
SCORE_9_12           12406
SCORE_9_13           12406
SCORE_9_14           12406
SCORE_9_15           12406
SCORE_9_16           12406
SCORE_9_17           12406
SCORE_9_18           12406
SCORE_9_19           12406
SCORE_9_20           12406
SCORE_9_21           12406
SCORE_9_22           12406
SCORE_9_23           12406
SCORE_9_24           12406
SCORE_10_1           61214
SCORE_10_2           61214
SCORE_10_3           61214
SCORE_10_4           61214
SCORE_10_5           61214
SCORE_10_6           61214
SCORE_11_1          544254
SCORE_11_2          544254
SCORE_11_3          544254
SCORE_11_4          544254
SCORE_11_5          544254
SCORE_11_6          544254
SCORE_11_7          544254
SCORE_11_8          544254
SCORE_11_9          544254
SCORE_11_10         544254
SCORE_11_11         544254
SCORE_11_12         544254
SCORE_11_13           8171
SCORE_11_14           8171
SCORE_1_11          242283
SCORE_1_12          242283
SCORE_1_13          242283
SCORE_1_14          242283
SCORE_1_15          242283
SCORE_1_16          242283
SCORE_1_17          242283
SCORE_1_18          242283
SCORE_1_19          242283
SCORE_1_20          242283
SCORE_1_21          242283
SCORE_1_10_1        242283
SCORE_1_22          242283
SCORE_1_23          242283
SCORE_1_24          242283
SCORE_1_25          242283
SCORE_1_26          242283
SCORE_2_4            92700
SCORE_2_5            92700
SCORE_3_1_1          27898
SCORE_3_2_1          27898
SCORE_3_3_1          27898
SCORE_3_4_1          27898
SCORE_3_5_1          27898
SCORE_3_6_1          27898
SCORE_3_7_1          27898
SCORE_3_8_1          27898
SCORE_3_9_1          27898
SCORE_3_10_1         27898
SCORE_5_13           79407
SCORE_5_14           79407
SCORE_5_15           79407
SCORE_5_16           79407
SCORE_5_17           79407
SCORE_5_18           79407
SCORE_5_19           79407
SCORE_5_20           79407
SCORE_6_4            68284
SCORE_6_5            68284
SCORE_6_6            68284
SCORE_6_7            68284
SCORE_6_8            68284
SCORE_6_9            68284
SCORE_7_4           402740
SCORE_7_5           402740
SCORE_7_6           402740
SCORE_7_7           402740
SCORE_7_8           402740
SCORE_7_9           402740
SCORE_9_25           79407
SCORE_11_15          27898
с_date_year              0
с_date_month             0
с_date_day               0
с_date_dayofweek         0
dtype: int64

In [19]:
train_data_target2['target_2'].value_counts()

0.0    643039
1.0      4695
Name: target_2, dtype: int64

In [20]:
# Вычисляем процент пропущенных значений для каждого признака
missing_percent = train_data_target2.isnull().sum() * 100 / len(train_data_target2)

# Определяем признаки, где процент пропущенных значений больше 70
features_to_drop = missing_percent[missing_percent > 50].index

# Удаляем эти признаки из датафрейма
train_data_target2 = train_data_target2.drop(features_to_drop, axis=1)

In [21]:
train_data_target2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647734 entries, 0 to 647733
Columns: 162 entries,  Score_p to с_date_dayofweek
dtypes: float64(152), int64(10)
memory usage: 800.6 MB

In [22]:
train_data_target2.head()

,Score_p,Score_bm,Score_ae,Score_vy,Score_vt,Score_r,Score_bcb,Score_ow,Score_ow_sh,target_2,...,SCORE_6_6,SCORE_6_7,SCORE_6_8,SCORE_6_9,SCORE_9_25,SCORE_11_15,с_date_year,с_date_month,с_date_day,с_date_dayofweek
0,16651,6.0,2,1993,4,7,1,1.110100e+08,1110.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021,4,13,1
1,16551,2.0,2,2017,4,10,0,1.556391e+09,1556.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021,4,8,3
2,16651,5.0,1,1993,4,7,1,1.110100e+08,1110.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021,4,13,1
3,2920,13.0,4,2014,4,19,1,5.110111e+08,5110.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021,4,9,4
4,1027,13.0,4,2014,10,12,0,4.352301e+09,4352.0,0.0,...,9.0,10.0,10.0,9.0,2.0,0.0,2020,7,30,3

In [23]:
train_data_target2.isnull().sum()

 Score_p                 0
 Score_bm               46
 Score_ae                0
 Score_vy                0
 Score_vt                0
 Score_r                 0
 Score_bcb               0
 Score_ow                4
 Score_ow_sh             4
target_2                 0
SCORE_1_1           235454
SCORE_1_2           235454
SCORE_1_3           235454
SCORE_1_4           235454
SCORE_1_5           235454
SCORE_1_6           235454
SCORE_1_7           235454
SCORE_1_8           235454
SCORE_1_9           235454
SCORE_1_10          235454
SCORE_2_1            88142
SCORE_2_2            88142
SCORE_2_3            88142
SCORE_3_1           108080
SCORE_3_2           108080
SCORE_3_3           108080
SCORE_3_4           108080
SCORE_3_5           108080
SCORE_3_6           108080
SCORE_3_7           108080
SCORE_3_8           108080
SCORE_3_9           108080
SCORE_3_10          108080
SCORE_4_1           134227
SCORE_4_2           134227
SCORE_4_3           134227
SCORE_4_4           134227
SCORE_4_5           134227
SCORE_4_6           134227
SCORE_4_7           134227
SCORE_4_8           134227
SCORE_4_9           134227
SCORE_4_10          134227
SCORE_4_11          134227
SCORE_4_12          134227
SCORE_4_13          134227
SCORE_4_14          134227
SCORE_4_15          134227
SCORE_4_16          134227
SCORE_4_17          134227
SCORE_4_18          134227
SCORE_4_19          134227
SCORE_4_20          134227
SCORE_4_21          134227
SCORE_4_22          134227
SCORE_4_23          134227
SCORE_4_24          134227
SCORE_4_25          134227
SCORE_4_26          134227
SCORE_4_27          134227
SCORE_4_28          134227
SCORE_4_29          134227
SCORE_4_30          134227
SCORE_5_1            66948
SCORE_5_2            66948
SCORE_5_3            66948
SCORE_5_4            66948
SCORE_5_5            66948
SCORE_5_6            66948
SCORE_5_7            66948
SCORE_5_8            66948
SCORE_5_9            66948
SCORE_5_10           66948
SCORE_5_11           66948
SCORE_5_12           66948
SCORE_6_1            57479
SCORE_6_2            57479
SCORE_6_3            57479
SCORE_8_1             8171
SCORE_8_2             8171
SCORE_8_3             8171
SCORE_9_1            12406
SCORE_9_2            12406
SCORE_9_3            12406
SCORE_9_4            12406
SCORE_9_5            12406
SCORE_9_6            12406
SCORE_9_7            12406
SCORE_9_8            12406
SCORE_9_9            12406
SCORE_9_10           12406
SCORE_9_11           12406
SCORE_9_12           12406
SCORE_9_13           12406
SCORE_9_14           12406
SCORE_9_15           12406
SCORE_9_16           12406
SCORE_9_17           12406
SCORE_9_18           12406
SCORE_9_19           12406
SCORE_9_20           12406
SCORE_9_21           12406
SCORE_9_22           12406
SCORE_9_23           12406
SCORE_9_24           12406
SCORE_10_1           61214
SCORE_10_2           61214
SCORE_10_3           61214
SCORE_10_4           61214
SCORE_10_5           61214
SCORE_10_6           61214
SCORE_11_13           8171
SCORE_11_14           8171
SCORE_1_11          242283
SCORE_1_12          242283
SCORE_1_13          242283
SCORE_1_14          242283
SCORE_1_15          242283
SCORE_1_16          242283
SCORE_1_17          242283
SCORE_1_18          242283
SCORE_1_19          242283
SCORE_1_20          242283
SCORE_1_21          242283
SCORE_1_10_1        242283
SCORE_1_22          242283
SCORE_1_23          242283
SCORE_1_24          242283
SCORE_1_25          242283
SCORE_1_26          242283
SCORE_2_4            92700
SCORE_2_5            92700
SCORE_3_1_1          27898
SCORE_3_2_1          27898
SCORE_3_3_1          27898
SCORE_3_4_1          27898
SCORE_3_5_1          27898
SCORE_3_6_1          27898
SCORE_3_7_1          27898
SCORE_3_8_1          27898
SCORE_3_9_1          27898
SCORE_3_10_1         27898
SCORE_5_13           79407
SCORE_5_14           79407
SCORE_5_15           79407
SCORE_5_16           79407
SCORE_5_17           79407
SCORE_5_18           79407
SCORE_5_19           79407
SCORE_5_20           79407
SCORE_6_4            68284
SCORE_6_5            68284
SCORE_6_6            68284
SCORE_6_7            68284
SCORE_6_8            68284
SCORE_6_9            68284
SCORE_9_25           79407
SCORE_11_15          27898
с_date_year              0
с_date_month             0
с_date_day               0
с_date_dayofweek         0
dtype: int64

In [24]:
train_data_target2['target_2'].value_counts()

0.0    643039
1.0      4695
Name: target_2, dtype: int64

In [25]:
# !pip install pandas-profiling

In [26]:
# import pandas_profiling

In [27]:
# train_data_target2.profile_report()

In [28]:
import numpy as np

# Заполнение пропущенных значений медианой для числовых признаков
for col in train_data_target2.select_dtypes(include=np.number).columns:
    train_data_target2[col].fillna(train_data_target2[col].median(), inplace=True)

In [29]:
X = train_data_target2.drop('target_2', axis=1)
y = train_data_target2['target_2']

In [30]:
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import Pipeline

# Для кросс-валидации нам нужно убедиться, что в каждом фолде будет одинаковое соотношение классов
# Для этого мы используем imblearn.pipeline вместо обычного sklearn.pipeline
over = SMOTE(sampling_strategy=0.1)  # Over-sampling
under = RandomUnderSampler(sampling_strategy=0.5)  # Under-sampling

# Объединяем в один pipeline
pipeline = Pipeline(steps=[('o', over), ('u', under)])

# Применяем к нашим данным
X_res, y_res = pipeline.fit_resample(X, y)

In [31]:
y_res.value_counts()

0.0    128606
1.0     64303
Name: target_2, dtype: int64

In [32]:
X_res.с_date_year.value_counts()

2020    117748
2021     75152
2001         9
Name: с_date_year, dtype: int64

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, roc_auc_score
from xgboost import XGBClassifier


# Разделение на обучающую и тестовую выборки
X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, test_size=0.2, random_state=42)

# Обучение модели
xgb_final = XGBClassifier(use_label_encoder=False, eval_metric="logloss")
xgb_final.fit(X_train, y_train)

# Предсказание на тестовой выборке
y_pred = xgb_final.predict(X_test)

# Вывод метрик качества
print("Матрица ошибок:")
print(confusion_matrix(y_test, y_pred))
print("\nОтчет о классификации:")
print(classification_report(y_test, y_pred))
print("Точность: ", accuracy_score(y_test, y_pred))
print("ROC AUC: ", roc_auc_score(y_test, y_pred))

/usr/local/lib/python3.10/dist-packages/xgboost/sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")

Матрица ошибок:
[[25629    45]
 [ 1100 11808]]

Отчет о классификации:
              precision    recall  f1-score   support

         0.0       0.96      1.00      0.98     25674
         1.0       1.00      0.91      0.95     12908

    accuracy                           0.97     38582
   macro avg       0.98      0.96      0.97     38582
weighted avg       0.97      0.97      0.97     38582

Точность:  0.970322948525219
ROC AUC:  0.9565143924324536

In [35]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686875 entries, 0 to 686874
Columns: 181 entries, Unnamed: 0 to SCORE_11_15
dtypes: float64(172), int64(8), object(1)
memory usage: 948.5+ MB

In [36]:
test_data_target2 = test.copy()

In [37]:
test_data_target2.head()

,Unnamed: 0,ID_NEW,с_date,Score_p,Score_bm,Score_ae,Score_vy,Score_vt,Score_r,Score_bcb,...,SCORE_6_8,SCORE_6_9,SCORE_7_4,SCORE_7_5,SCORE_7_6,SCORE_7_7,SCORE_7_8,SCORE_7_9,SCORE_9_25,SCORE_11_15
0,0,1,2022-02-21,8513,8.0,2,2002,4,20,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,2022-03-05,19910,4.0,1,1995,4,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,2022-01-22,14121,4.0,1,2012,4,19,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4,2022-02-06,18005,7.0,2,2013,4,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5,2022-02-28,14438,3.0,1,2001,4,12,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
ID_NEW_test = test_data_target2['ID_NEW']

In [39]:
test_data_target2['с_date'] = pd.to_datetime(test_data_target2[' с_date'])
test_data_target2['с_date_datetime'] = pd.to_datetime(test_data_target2[' с_date'])

In [40]:
test_data_target2['с_date_year'] = test_data_target2['с_date_datetime'].dt.year
test_data_target2['с_date_month'] = test_data_target2['с_date_datetime'].dt.month
test_data_target2['с_date_day'] = test_data_target2['с_date_datetime'].dt.day
test_data_target2['с_date_dayofweek'] = test_data_target2['с_date_datetime'].dt.dayofweek

In [41]:
test_data_target2.drop([' с_date'], axis=1, inplace=True)

In [42]:
test_data_target2.drop(['с_date_datetime'], axis=1, inplace=True)

In [43]:
test_data_target2.drop(['Unnamed: 0'], axis=1, inplace=True)
test_data_target2.drop(['ID_NEW'], axis=1, inplace=True)

In [44]:
test_data_target2.drop(['с_date'], axis=1, inplace=True)

In [45]:
test_data_target2.head()

,Score_p,Score_bm,Score_ae,Score_vy,Score_vt,Score_r,Score_bcb,Score_ow,Score_ow_sh,SCORE_1_1,...,SCORE_7_6,SCORE_7_7,SCORE_7_8,SCORE_7_9,SCORE_9_25,SCORE_11_15,с_date_year,с_date_month,с_date_day,с_date_dayofweek
0,8513,8.0,2,2002,4,20,0,6.154201e+09,6154.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022,2,21,0
1,19910,4.0,1,1995,4,1,0,1.968350e+08,1968.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022,3,5,5
2,14121,4.0,1,2012,4,19,1,7.915100e+09,7915.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022,1,22,5
3,18005,7.0,2,2013,4,1,1,1.910100e+08,1910.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022,2,6,6
4,14438,3.0,1,2001,4,12,1,4.310100e+09,4310.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022,2,28,0

In [46]:
X_res.head()

,Score_p,Score_bm,Score_ae,Score_vy,Score_vt,Score_r,Score_bcb,Score_ow,Score_ow_sh,SCORE_1_1,...,SCORE_6_6,SCORE_6_7,SCORE_6_8,SCORE_6_9,SCORE_9_25,SCORE_11_15,с_date_year,с_date_month,с_date_day,с_date_dayofweek
0,3518,13.0,4,2014,4,10,1,1.510100e+08,1510.0,5.0,...,7.0,5.0,5.0,5.0,8.0,0.0,2021,4,19,0
1,7966,10.0,4,2006,4,19,1,5.110100e+08,5110.0,2.0,...,2.0,1.0,1.0,1.0,1.0,0.0,2020,12,15,1
2,9072,13.0,4,1989,4,1,0,1.962338e+09,1962.0,6.0,...,6.0,3.0,4.0,4.0,4.0,0.0,2021,4,28,2
3,6177,9.0,4,1973,4,20,0,6.120422e+09,6120.0,2.0,...,7.0,5.0,5.0,5.0,8.0,1.0,2020,9,23,2
4,19592,13.0,4,2019,4,15,1,7.511100e+09,7511.0,5.0,...,8.0,4.0,4.0,4.0,8.0,0.0,2020,11,6,4

In [47]:
# Создание нового тестового набора данных только с колонками из X_res
new_test_data_target2 = test_data_target2.filter(X_res.columns)

In [48]:
new_test_data_target2.head()

,Score_p,Score_bm,Score_ae,Score_vy,Score_vt,Score_r,Score_bcb,Score_ow,Score_ow_sh,SCORE_1_1,...,SCORE_6_6,SCORE_6_7,SCORE_6_8,SCORE_6_9,SCORE_9_25,SCORE_11_15,с_date_year,с_date_month,с_date_day,с_date_dayofweek
0,8513,8.0,2,2002,4,20,0,6.154201e+09,6154.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022,2,21,0
1,19910,4.0,1,1995,4,1,0,1.968350e+08,1968.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022,3,5,5
2,14121,4.0,1,2012,4,19,1,7.915100e+09,7915.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022,1,22,5
3,18005,7.0,2,2013,4,1,1,1.910100e+08,1910.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022,2,6,6
4,14438,3.0,1,2001,4,12,1,4.310100e+09,4310.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022,2,28,0

In [49]:
# Заполнение пропущенных значений медианой для числовых признаков
for col in new_test_data_target2.select_dtypes(include=np.number).columns:
    new_test_data_target2[col].fillna(new_test_data_target2[col].median(), inplace=True)

In [50]:
new_test_data_target2.isnull().sum()

 Score_p            0
 Score_bm           0
 Score_ae           0
 Score_vy           0
 Score_vt           0
 Score_r            0
 Score_bcb          0
 Score_ow           0
 Score_ow_sh        0
SCORE_1_1           0
SCORE_1_2           0
SCORE_1_3           0
SCORE_1_4           0
SCORE_1_5           0
SCORE_1_6           0
SCORE_1_7           0
SCORE_1_8           0
SCORE_1_9           0
SCORE_1_10          0
SCORE_2_1           0
SCORE_2_2           0
SCORE_2_3           0
SCORE_3_1           0
SCORE_3_2           0
SCORE_3_3           0
SCORE_3_4           0
SCORE_3_5           0
SCORE_3_6           0
SCORE_3_7           0
SCORE_3_8           0
SCORE_3_9           0
SCORE_3_10          0
SCORE_4_1           0
SCORE_4_2           0
SCORE_4_3           0
SCORE_4_4           0
SCORE_4_5           0
SCORE_4_6           0
SCORE_4_7           0
SCORE_4_8           0
SCORE_4_9           0
SCORE_4_10          0
SCORE_4_11          0
SCORE_4_12          0
SCORE_4_13          0
SCORE_4_14          0
SCORE_4_15          0
SCORE_4_16          0
SCORE_4_17          0
SCORE_4_18          0
SCORE_4_19          0
SCORE_4_20          0
SCORE_4_21          0
SCORE_4_22          0
SCORE_4_23          0
SCORE_4_24          0
SCORE_4_25          0
SCORE_4_26          0
SCORE_4_27          0
SCORE_4_28          0
SCORE_4_29          0
SCORE_4_30          0
SCORE_5_1           0
SCORE_5_2           0
SCORE_5_3           0
SCORE_5_4           0
SCORE_5_5           0
SCORE_5_6           0
SCORE_5_7           0
SCORE_5_8           0
SCORE_5_9           0
SCORE_5_10          0
SCORE_5_11          0
SCORE_5_12          0
SCORE_6_1           0
SCORE_6_2           0
SCORE_6_3           0
SCORE_8_1           0
SCORE_8_2           0
SCORE_8_3           0
SCORE_9_1           0
SCORE_9_2           0
SCORE_9_3           0
SCORE_9_4           0
SCORE_9_5           0
SCORE_9_6           0
SCORE_9_7           0
SCORE_9_8           0
SCORE_9_9           0
SCORE_9_10          0
SCORE_9_11          0
SCORE_9_12          0
SCORE_9_13          0
SCORE_9_14          0
SCORE_9_15          0
SCORE_9_16          0
SCORE_9_17          0
SCORE_9_18          0
SCORE_9_19          0
SCORE_9_20          0
SCORE_9_21          0
SCORE_9_22          0
SCORE_9_23          0
SCORE_9_24          0
SCORE_10_1          0
SCORE_10_2          0
SCORE_10_3          0
SCORE_10_4          0
SCORE_10_5          0
SCORE_10_6          0
SCORE_11_13         0
SCORE_11_14         0
SCORE_1_11          0
SCORE_1_12          0
SCORE_1_13          0
SCORE_1_14          0
SCORE_1_15          0
SCORE_1_16          0
SCORE_1_17          0
SCORE_1_18          0
SCORE_1_19          0
SCORE_1_20          0
SCORE_1_21          0
SCORE_1_10_1        0
SCORE_1_22          0
SCORE_1_23          0
SCORE_1_24          0
SCORE_1_25          0
SCORE_1_26          0
SCORE_2_4           0
SCORE_2_5           0
SCORE_3_1_1         0
SCORE_3_2_1         0
SCORE_3_3_1         0
SCORE_3_4_1         0
SCORE_3_5_1         0
SCORE_3_6_1         0
SCORE_3_7_1         0
SCORE_3_8_1         0
SCORE_3_9_1         0
SCORE_3_10_1        0
SCORE_5_13          0
SCORE_5_14          0
SCORE_5_15          0
SCORE_5_16          0
SCORE_5_17          0
SCORE_5_18          0
SCORE_5_19          0
SCORE_5_20          0
SCORE_6_4           0
SCORE_6_5           0
SCORE_6_6           0
SCORE_6_7           0
SCORE_6_8           0
SCORE_6_9           0
SCORE_9_25          0
SCORE_11_15         0
с_date_year         0
с_date_month        0
с_date_day          0
с_date_dayofweek    0
dtype: int64

In [51]:
# Делаем предсказания
predictions = xgb_final.predict(new_test_data_target2)

# Связываем предсказания с идентификаторами
results = pd.DataFrame({'ID_NEW': ID_NEW_test, 'prediction': predictions})

In [52]:
import pickle

# Сохранение модели в файл PKL
with open('xgb_model_target_2.pkl', 'wb') as f:
    pickle.dump(xgb_final, f)

In [53]:
results.head()

   ID_NEW  prediction
0       1           0
1       2           0
2       3           0
3       4           0
4       5           0

In [55]:
results.prediction.value_counts()

0    685802
1      1073
Name: prediction, dtype: int64

In [ ]:
686875